@if (photo(); as photo) {
  <figure>
    <div class="frame">
      <img
        [ngSrc]="photo.id"
        [alt]="'Photo by ' + photo.author"
        [loaderParams]="{ aspectRatio: photo.width / photo.height }"
        fill
        priority
      />
    </div>
    <figcaption>{{ photo.author }}</figcaption>
  </figure>
  @if (isFavorite()) {
    <button matButton="tonal" type="button" (click)="removeFromFavorites()">
      <mat-icon>heart_minus</mat-icon>
      Remove from favorites
    </button>
  } @else {
    <div class="not-favorite">
      <p>Not in your favorites</p>
      <a matButton routerLink="/favorites">Go to favorites</a>
    </div>
  }
} @else if (photo() === null) {
  <p class="error" role="alert">Couldn't load the photo</p>
} @else {
  <mat-progress-spinner mode="indeterminate" diameter="40" aria-label="Loading" />
}
